@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- --- This next @layers bit lets us control the font-sizing across the site --- --- */
@layer components {
  h1,
  .h1 {
    @apply text-5xl font-semibold leading-snug;
  }

  h2,
  .h2 {
    @apply text-3xl font-semibold leading-relaxed;
  }

  h3,
  .h3 {
    @apply text-xl font-medium leading-relaxed tracking-tight;
  }

  p,
  .p {
    @apply text-base leading-relaxed;
  }
}

/* --- --- --- --- --- --- --- --- ** ** --- --- --- --- --- --- --- ---  */

/* --- --- Globals --- ---  */
:root {
  --primary-orange-colour: rgb(234 88 12);
  --secondary-grey-colour: rgb(203 213 225);
  --second-background-colour: purple;
  --secondary-dark-slate-colour: rgb(30 41 59);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* --- --- --- --- --- --- --- --- ** ** --- --- --- --- --- --- --- ---  */

/* --- --- Header --- ---  */

/* Shadow & top positioning */
.header {
  box-shadow: 0px 3px 10px black;
  width: 100dvw;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.logo h3 {
  text-shadow: 2px 2px 2px black;
}

/* -- Search Bar -- */
.search-bar-link:hover {
  background-color: var(--second-background-colour);
}

.search-results .active {
  background-color: var(--second-background-colour);
}

/* --- --- --- --- --- --- --- --- ** ** --- --- --- --- --- --- --- ---  */

/* --- --- Home Page background --- ---  */

.home-page-main {
  background-image: url("../../public/images/home-page-background.jpg");
}

.home-page-main-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.5) 29%,
    rgba(255, 255, 255, 0.5) 98%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 2;
}

.intro-box {
  box-shadow: 2px 3px 10px black;
}

/* --- --- --- --- --- --- --- --- ** ** --- --- --- --- --- --- --- ---  */

/* --- --- Buttons --- ---  */
.cta-button {
  box-shadow: 2px 2px 0px var(--secondary-grey-colour);
}

.cta-button:hover {
  animation: 1.5s background-shift infinite linear;
}

@keyframes background-shift {
  0% {
  }
  30% {
    background-color: orange;
    color: black;
  }
  60% {
    background-color: orange;
    color: black;
  }
  100% {
  }
}

.game-hero {
}
