/* --- --- --- --- --- --- --- --- ** ** --- --- --- --- --- --- --- ---  */

/* --- --- ------ --- ---  */
/* --- --- Header --- ---  */
/* --- --- ------ --- ---  */

/* -- Hamburger Menu Backgrounds -- */
.mobile-nav {
  background-color: var(--primary-orange-colour);
  height: 70%;
  width: 70%;
  border: 2px solid grey;
}

.mobile-nav-backlay {
  background-color: rgba(0, 0, 0, 0.48);
}

.mobile-nav a {
  background-color: var(--secondary-dark-slate-colour);
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 2px solid black;
}
/* This gets added to the body when the hamburger menu is open */
.mobile-nav-is-open {
  overflow-y: hidden;
}

/* -- Header Items - Up to Large Mobile--  */

@media (max-width: 500px) {
  .logo img {
    height: 3rem;
  }

  .logo-link {
    flex-direction: column;
  }
  .logo-text * {
    font-size: 0.7rem;
  }

  .search-results {
    width: 200%;
    left: -55%;
  }

  .search-bar {
    width: 50%;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .search-bar {
    width: 40%;
  }
}

/* --- --- --- --- --- --- --- --- ** ** --- --- --- --- --- --- --- ---  */

/* --- --- ------ ------ ------ --- ---  */
/* --- --- Home Page Intro Box --- ---  */
/* --- --- ------ ------ ------ --- ---  */

@media (max-width: 500px) {
  .intro-box {
    width: 80%;
    height: 65%;
    padding: 1rem;
  }
  .intro-box h1 {
    font-size: 36px;
    justify-self: start;
  }
  .intro-box h2 {
    font-size: 20px;
  }
  .intro-box h3 {
    font-size: medium;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .intro-box {
    width: 65%;
    height: 60%;
    padding: 2rem;
  }
}

/* --- --- --- --- --- --- --- --- ** ** --- --- --- --- --- --- --- ---  */

/* --- --- ------ ------ ------ --- ---  */
/* --- --- Clerk sign up box --- ---  */
/* --- --- ------ ------ ------ --- ---  */
@media (max-width: 500px) {
  .cl-main,
  .cl-form,
  .cl-internal-w8uam1 {
    gap: 0.5rem;
  }
  .cl-card {
    gap: 1rem;
    padding: 1rem;
    margin-top: 2.5rem;
  }
}
